.boskara-front-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') 0 0 no-repeat;
} 

.boskara-front-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') -64px 0 no-repeat;
}

.boskara-front-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') -128px 0 no-repeat;
}

.boskara-front-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') -192px 0 no-repeat;
}

.boskara-left-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') 0 -64px no-repeat;
} 

.boskara-left-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') -64px -64px no-repeat;
}

.boskara-left-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') -128px -64px no-repeat;
}

.boskara-left-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') -192px -64px no-repeat;
}

.boskara-right-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') 0 -128px no-repeat;
} 

.boskara-right-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') -64px -128px no-repeat;
}

.boskara-right-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') -128px -128px no-repeat;
}

.boskara-right-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') -192px -128px no-repeat;
}

.boskara-back-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') 0 -192px no-repeat;
} 

.boskara-back-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') -64px -192px no-repeat;
}

.boskara-back-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') -128px -192px no-repeat;
}

.boskara-back-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/boskara.png') -192px -192px no-repeat;
}
