.ouisticram-front-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') 0 0 no-repeat;
} 

.ouisticram-front-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') -64px 0 no-repeat;
}

.ouisticram-front-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') -128px 0 no-repeat;
}

.ouisticram-front-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') -192px 0 no-repeat;
}

.ouisticram-left-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') 0 -64px no-repeat;
} 

.ouisticram-left-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') -64px -64px no-repeat;
}

.ouisticram-left-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') -128px -64px no-repeat;
}

.ouisticram-left-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') -192px -64px no-repeat;
}

.ouisticram-right-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') 0 -128px no-repeat;
} 

.ouisticram-right-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') -64px -128px no-repeat;
}

.ouisticram-right-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') -128px -128px no-repeat;
}

.ouisticram-right-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') -192px -128px no-repeat;
}

.ouisticram-back-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') 0 -192px no-repeat;
} 

.ouisticram-back-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') -64px -192px no-repeat;
}

.ouisticram-back-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') -128px -192px no-repeat;
}

.ouisticram-back-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/ouisticram.png') -192px -192px no-repeat;
}
