.tiplouf-front-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') 0 0 no-repeat;
} 

.tiplouf-front-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') -64px 0 no-repeat;
}

.tiplouf-front-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') -128px 0 no-repeat;
}

.tiplouf-front-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') -192px 0 no-repeat;
}

.tiplouf-left-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') 0 -64px no-repeat;
} 

.tiplouf-left-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') -64px -64px no-repeat;
}

.tiplouf-left-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') -128px -64px no-repeat;
}

.tiplouf-left-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') -192px -64px no-repeat;
}

.tiplouf-right-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') 0 -128px no-repeat;
} 

.tiplouf-right-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') -64px -128px no-repeat;
}

.tiplouf-right-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') -128px -128px no-repeat;
}

.tiplouf-right-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') -192px -128px no-repeat;
}

.tiplouf-back-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') 0 -192px no-repeat;
} 

.tiplouf-back-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') -64px -192px no-repeat;
}

.tiplouf-back-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') -128px -192px no-repeat;
}

.tiplouf-back-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tiplouf.png') -192px -192px no-repeat;
}
