.game {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  background-image: url('../img/background.jpeg');
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__container {
  width: 600px;
  height: 560px;
  background-color: #FFF;
  border-radius: .25rem;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, .5);
  overflow: hidden;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #DDD;
}

.board {
  width: 100%;
  height: 480px;
  background-color: #FFF;
}

.tileset__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(13, 40px);
  overflow: hidden;
}

.tileset__row {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(15, 40px);
}

.tile {
  width: 100%;
  height: 100%;
  position: relative;
  /* border: 1px solid #fff; */
}

.npc-talking {
  position: absolute;
  color: #FFF;
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, .4);
  z-index: 200;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: .25em;
}

.npc-talking__wrap {
  position: relative;
}

.npc-talking__text {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  width: 0%;
  animation: typing 2s steps(40, end) forwards;
  letter-spacing: .1em;
}

.npc-talking__arrow {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background-color: transparent;
  width: .6em;
  height: .3em;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate3d(50%, -100%, 0);
  animation: blink-arrow 1s step-end infinite 2s;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-arrow {
  from, to { background-color: transparent }
  50% {  background-color: #FFF; }
}

.grass {
  background: url('../sprites/base-ground.png') 0 0 no-repeat;
}

.tile__content {
  position: absolute;
  bottom: 0;
  z-index: 20;
}

.moving-up {
  animation: movingUp 200ms linear forwards;
}

@keyframes movingUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}

.moving-down {
  animation: movingDown 200ms linear forwards;
}

@keyframes movingDown {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateY(40px);
  }
}
.moving-left {
  animation: movingLeft 200ms linear forwards;
}

@keyframes movingLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-40px);
  }
}
.moving-right {
  animation: movingRight 200ms linear forwards;
}

@keyframes movingRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(40px);
  }
}

.tree {
  width: 80px;
  height: 92px;
  left: -20px;
  background: url('../sprites/tree.png') 0 0 no-repeat;
}

.tree-close-right {
  width: 80px;
  height: 92px;
  left: -20px;
  background: url('../sprites/tree.png') -80px 0 no-repeat;
}

.tree-close-left {
  width: 80px;
  height: 92px;
  left: -20px;
  background: url('../sprites/tree.png') -160px 0 no-repeat;
}

.tree-close-both-sides {
  width: 80px;
  height: 92px;
  left: -20px;
  background: url('../sprites/tree.png') -240px 0 no-repeat;
}

.rock {
  width: 64px;
  height: 60px;
  left: -12px;
  background: url('../sprites/rock.png') 0 0 no-repeat;
}

.water {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') -160px 0 no-repeat;
}

.water-top-left {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') 0 0 no-repeat;
}

.water-top {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') -40px 0 no-repeat;
}

.water-top-right {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') -80px 0 no-repeat;
}

.water-left {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') -120px 0 no-repeat;
}

.water-right {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') -200px 0 no-repeat;
}

.water-bottom-left {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') -240px 0 no-repeat;
}

.water-bottom {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') -280px 0 no-repeat;
}

.water-bottom-right {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') -320px 0 no-repeat;
}

.water-corner-top-left {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') -360px 0 no-repeat;
}

.water-corner-top-right {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') -400px 0 no-repeat;
}

.water-corner-bottom-left {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') -440px 0 no-repeat;
}

.water-corner-bottom-right {
  width: 40px;
  height: 40px;
  background: url('../sprites/water.png') -480px 0 no-repeat;
}

.gate-left {
  width: 52px;
  height: 211px;
  background: url('../sprites/gate.png') -212px 0 no-repeat;
}

.gate-right {
  width: 80px;
  height: 211px;
  background: url('../sprites/gate.png') 0 0 no-repeat;
}

.house {
  width: 127px;
  height: 145px;
  background: url('../sprites/house.png') 0 0 no-repeat;
  left: -28px;
}
/* 
.pingoleon-front-0 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') 0 0 no-repeat;
} 

.pingoleon-front-1 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') -50px 0 no-repeat;
}

.pingoleon-front-2 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') -100px 0 no-repeat;
}

.pingoleon-front-3 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') -150px 0 no-repeat;
}

.pingoleon-left-0 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') 0 -50px no-repeat;
} 

.pingoleon-left-1 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') -50px -50px no-repeat;
}

.pingoleon-left-2 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') -100px -50px no-repeat;
}

.pingoleon-left-3 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') -150px -50px no-repeat;
}

.pingoleon-right-0 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') 0 -100px no-repeat;
} 

.pingoleon-right-1 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') -50px -100px no-repeat;
}

.pingoleon-right-2 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') -100px -100px no-repeat;
}

.pingoleon-right-3 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') -150px -100px no-repeat;
}

.pingoleon-back-0 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') 0 -150px no-repeat;
} 

.pingoleon-back-1 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') -50px -150px no-repeat;
}

.pingoleon-back-2 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') -100px -150px no-repeat;
}

.pingoleon-back-3 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/pingoleon.png') -150px -150px no-repeat;
} */