
.simiabraz-front-0 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') 0 0 no-repeat;
} 

.simiabraz-front-1 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') -50px 0 no-repeat;
}

.simiabraz-front-2 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') -100px 0 no-repeat;
}

.simiabraz-front-3 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') -150px 0 no-repeat;
}

.simiabraz-left-0 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') 0 -50px no-repeat;
} 

.simiabraz-left-1 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') -50px -50px no-repeat;
}

.simiabraz-left-2 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') -100px -50px no-repeat;
}

.simiabraz-left-3 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') -150px -50px no-repeat;
}

.simiabraz-right-0 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') 0 -100px no-repeat;
} 

.simiabraz-right-1 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') -50px -100px no-repeat;
}

.simiabraz-right-2 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') -100px -100px no-repeat;
}

.simiabraz-right-3 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') -150px -100px no-repeat;
}

.simiabraz-back-0 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') 0 -150px no-repeat;
} 

.simiabraz-back-1 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') -50px -150px no-repeat;
}

.simiabraz-back-2 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') -100px -150px no-repeat;
}

.simiabraz-back-3 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/simiabraz.png') -150px -150px no-repeat;
}