
.tortipouss-front-0 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') 0 0 no-repeat;
} 

.tortipouss-front-1 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') -50px 0 no-repeat;
}

.tortipouss-front-2 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') -100px 0 no-repeat;
}

.tortipouss-front-3 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') -150px 0 no-repeat;
}

.tortipouss-left-0 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') 0 -50px no-repeat;
} 

.tortipouss-left-1 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') -50px -50px no-repeat;
}

.tortipouss-left-2 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') -100px -50px no-repeat;
}

.tortipouss-left-3 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') -150px -50px no-repeat;
}

.tortipouss-right-0 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') 0 -100px no-repeat;
} 

.tortipouss-right-1 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') -50px -100px no-repeat;
}

.tortipouss-right-2 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') -100px -100px no-repeat;
}

.tortipouss-right-3 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') -150px -100px no-repeat;
}

.tortipouss-back-0 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') 0 -150px no-repeat;
} 

.tortipouss-back-1 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') -50px -150px no-repeat;
}

.tortipouss-back-2 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') -100px -150px no-repeat;
}

.tortipouss-back-3 {
  width: 50px;
  height: 50px;
  left: -5px;
  background: url('../sprites/main/tortipouss.png') -150px -150px no-repeat;
}