@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  font-size: 15px;
  line-height: 1.5rem;
  overflow: hidden;
  font-family: 'VT323', monospace;
}

.game {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  background-image: url('../img/background.jpeg');
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__container {
  width: 600px;
  height: 560px;
  background-color: #FFF;
  border-radius: .25rem;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, .5);
  overflow: hidden;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #DDD;
}

.screen {
  width: 100%;
  height: 480px;
  background-color: #FFF;
}

.loading-screen {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  opacity: 0;
  animation: fadeOut 2000ms forwards;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.character {
  position: absolute;
}