.simiabraz-front-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') 0 0 no-repeat;
} 

.simiabraz-front-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') -64px 0 no-repeat;
}

.simiabraz-front-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') -128px 0 no-repeat;
}

.simiabraz-front-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') -192px 0 no-repeat;
}

.simiabraz-left-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') 0 -64px no-repeat;
} 

.simiabraz-left-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') -64px -64px no-repeat;
}

.simiabraz-left-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') -128px -64px no-repeat;
}

.simiabraz-left-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') -192px -64px no-repeat;
}

.simiabraz-right-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') 0 -128px no-repeat;
} 

.simiabraz-right-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') -64px -128px no-repeat;
}

.simiabraz-right-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') -128px -128px no-repeat;
}

.simiabraz-right-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') -192px -128px no-repeat;
}

.simiabraz-back-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') 0 -192px no-repeat;
} 

.simiabraz-back-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') -64px -192px no-repeat;
}

.simiabraz-back-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') -128px -192px no-repeat;
}

.simiabraz-back-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/simiabraz.png') -192px -192px no-repeat;
}
