.tortipouss-front-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') 0 0 no-repeat;
} 

.tortipouss-front-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') -64px 0 no-repeat;
}

.tortipouss-front-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') -128px 0 no-repeat;
}

.tortipouss-front-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') -192px 0 no-repeat;
}

.tortipouss-left-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') 0 -64px no-repeat;
} 

.tortipouss-left-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') -64px -64px no-repeat;
}

.tortipouss-left-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') -128px -64px no-repeat;
}

.tortipouss-left-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') -192px -64px no-repeat;
}

.tortipouss-right-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') 0 -128px no-repeat;
} 

.tortipouss-right-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') -64px -128px no-repeat;
}

.tortipouss-right-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') -128px -128px no-repeat;
}

.tortipouss-right-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') -192px -128px no-repeat;
}

.tortipouss-back-0 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') 0 -192px no-repeat;
} 

.tortipouss-back-1 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') -64px -192px no-repeat;
}

.tortipouss-back-2 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') -128px -192px no-repeat;
}

.tortipouss-back-3 {
  width: 64px;
  height: 64px;
  left: -12px;
  background: url('../../sprites/main/tortipouss.png') -192px -192px no-repeat;
}
